.form-containerL{
    height: 400px;
    width: 500px;
    
    position: absolute;
    top: 10%;
    left: 30%;
    
}
.form{
    display: flex;
    flex-direction: column;
    
    
    position: absolute;
    left: 10%;
}
h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
    width: 600px;
    
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  input[type="text"],
  input[type="password"]{
    width: 50%;
    height: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .lgnBtn{
    display: block;
    width: 20rem;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .lgnBtn:hover {
    background-color: #0056b3;
  }
  